################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HeadFirstDesignPatterns11
/x64/Debug
/Adapter/Ducks/x64/Debug

Bridge/Remotes/x64/

Builder/Planner/x64/
