################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/HeadFirstDesignPatterns11
/x64/Debug
/Adapter/Ducks/x64/Debug

Bridge/Remotes/x64/

Builder/Planner/x64/

ChainOfResponsibility/GumballEMailHandler/x64/

Command/Remote/x64/

Command/SimpleRemote/x64/

Command/Undo/x64/

Composite/Menus/x64/

Decorator/Starbuzz/x64/

Facade/HomeTheater/x64/

Factory/Pizzaaf/x64/

Factory/Pizzafm/x64/

Factory/Pizzas/x64/

Flyweight/FowlWeight/x64/
